<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.flomio.sdk"
    version="1.0.2">
    <name>flomio_cordova_plugin</name>
    <description>Flomio SDK integration enables NFC, BLE, and UHF RFID reader hardware.</description>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="FlomioPlugin">
            <param name="android-package" value="com.flomio.plugin.FlomioPlugin"/>
          </feature>
        </config-file>
        <js-module src="www/FlomioPlugin.js" name="FlomioPlugin">
            <clobbers target="floPlugin" />
        </js-module>

        <source-file src="src/android/FlomioPlugin.java" target-dir="src/com/flomio/plugin/"/>
    </platform>

    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="FlomioPlugin">
                <param name="ios-package" value="FlomioPlugin" /> 
            </feature>
        </config-file>
        <js-module src="www/FlomioPlugin.js" name="FlomioPlugin">
            <clobbers target="flomioPlugin" />
        </js-module>
        <framework src="MediaPlayer.framework" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ABTBluetoothReaderManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FmAudioJackSessionManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKSlider.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/winscard.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKSettingsStoreFile.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKSpecifier.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ReaderInterface.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/AudioJack.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ACRResult.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ABTBluetoothReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ACRStatus.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ACRTrackData.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FmNdefManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FJStringDisplay.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/AudioJackErrors.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/MainViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/NdefMessage.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ACRAesTrackData.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FeitianReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FTType.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKAppSettingsViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ACRDukptTrackData.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/AppDelegate.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKSpecifierValuesViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKPSTextFieldSpecifierViewCell.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ACRDukptReceiver.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/Tag.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKAppSettingsWebViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/DeviceInfoViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/MainTableViewCell.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FmCustomTypes.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKPSSliderSpecifierViewCell.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKTextField.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/AcsBtReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/Logging.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ACSBluetooth.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKSettingsStoreUserDefaults.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKSettingsReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ABDHex.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/AcsAjReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FmSessionManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/Utilities.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ft301u.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ACRAudioJackReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ACRTrack1Data.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ACRTrack2Data.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ABTError.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/utils.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ABTAcr1255uj1Reader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/DUKPT.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/NdefRecord.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/wintypes.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKMultipleValueSelection.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FmDevice.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FmBluetoothSessionManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/SettingsViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ACRCRC16.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKSettingsStore.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/ABTAcr3901us1Reader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FmAudioJackDevice.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FmErrorManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FTaR530.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/IASKSwitch.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FmBluetoothDevice.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClasses/FeitianAjReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ABTBluetoothReaderManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FmAudioJackSessionManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/winscard.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ReaderInterface.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/AudioJack.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ACRResult.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ABTBluetoothReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ACRStatus.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ACRTrackData.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FmNdefManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FJStringDisplay.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/AudioJackErrors.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/NdefMessage.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ACRAesTrackData.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FeitianReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FTType.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ACRDukptTrackData.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ACRDukptReceiver.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/Tag.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FmCustomTypes.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/AcsBtReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/Logging.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ACSBluetooth.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ABDHex.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/AcsAjReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FmSessionManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/Utilities.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ft301u.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ACRAudioJackReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ACRTrack1Data.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ACRTrack2Data.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ABTError.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/utils.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ABTAcr1255uj1Reader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/DUKPT.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/NdefRecord.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/wintypes.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FmDevice.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FmBluetoothSessionManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ACRCRC16.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/ABTAcr3901us1Reader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FmAudioJackDevice.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FmErrorManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FTaR530.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FmBluetoothDevice.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SDKClassesPro/FeitianAjReader.h" />
        <source-file src="src/ios/FlomioSDK/libSDKClasses.a" />
        <header-file src="src/ios/FlomioPlugin.h" />
        <source-file src="src/ios/FlomioPlugin.m" />
    </platform>
</plugin>
