<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.flomio.sdk"
    version="1.0.2">
    <name>flomio_cordova_plugin</name>
    <description>Flomio SDK integration enables NFC, BLE, and UHF RFID reader hardware.</description>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="FlomioPlugin">
            <param name="android-package" value="com.flomio.plugin.FlomioPlugin"/>
          </feature>
        </config-file>
        <js-module src="www/FlomioPlugin.js" name="FlomioPlugin">
            <clobbers target="floPlugin" />
        </js-module>

        <source-file src="src/android/FlomioPlugin.java" target-dir="src/com/flomio/plugin/"/>
    </platform>

    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="FlomioPlugin">
                <param name="ios-package" value="FlomioPlugin" /> 
            </feature>
        </config-file>
        <js-module src="www/FlomioPlugin.js" name="FlomioPlugin">
            <clobbers target="flomioPlugin" />
        </js-module>
        <framework src="MediaPlayer.framework" />
        <header-file src="src/ios/FlomioSDK/Headers/ABTBluetoothReaderManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FmAudioJackSessionManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKSlider.h" />
        <header-file src="src/ios/FlomioSDK/Headers/winscard.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKSettingsStoreFile.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKSpecifier.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ReaderInterface.h" />
        <header-file src="src/ios/FlomioSDK/Headers/AudioJack.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ACRResult.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ABTBluetoothReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ACRStatus.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ACRTrackData.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FmNdefManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FJStringDisplay.h" />
        <header-file src="src/ios/FlomioSDK/Headers/AudioJackErrors.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/MainViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/NdefMessage.h" />
        <header-file src="src/ios/FlomioSDK/Headers/C++Runtime.mm" />
        <header-file src="src/ios/FlomioSDK/Headers/ACRAesTrackData.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FeitianReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FTType.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKAppSettingsViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ACRDukptTrackData.h" />
        <header-file src="src/ios/FlomioSDK/Headers/AppDelegate.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKSpecifierValuesViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKPSTextFieldSpecifierViewCell.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ACRDukptReceiver.h" />
        <header-file src="src/ios/FlomioSDK/Headers/Tag.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKAppSettingsWebViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/DeviceInfoViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/MainTableViewCell.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FmCustomTypes.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKPSSliderSpecifierViewCell.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKTextField.h" />
        <header-file src="src/ios/FlomioSDK/Headers/AcsBtReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/Logging.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ACSBluetooth.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKSettingsStoreUserDefaults.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKSettingsReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ABDHex.h" />
        <header-file src="src/ios/FlomioSDK/Headers/AcsAjReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FmSessionManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/Utilities.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ft301u.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ACRAudioJackReader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ACRTrack1Data.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ACRTrack2Data.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ABTError.h" />
        <header-file src="src/ios/FlomioSDK/Headers/utils.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ABTAcr1255uj1Reader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/DUKPT.h" />
        <header-file src="src/ios/FlomioSDK/Headers/NdefRecord.h" />
        <header-file src="src/ios/FlomioSDK/Headers/wintypes.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKMultipleValueSelection.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FmDevice.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FmBluetoothSessionManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/SettingsViewController.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ACRCRC16.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKSettingsStore.h" />
        <header-file src="src/ios/FlomioSDK/Headers/ABTAcr3901us1Reader.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FmAudioJackDevice.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FmErrorManager.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FTaR530.h" />
        <header-file src="src/ios/FlomioSDK/Headers/IASKSwitch.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FmBluetoothDevice.h" />
        <header-file src="src/ios/FlomioSDK/Headers/FeitianAjReader.h" />
        <source-file src="src/ios/FlomioSDK/Headers/utils.cpp" />
        <source-file src="src/ios/FlomioSDK/libSDKClasses.a" />
        <header-file src="src/ios/FlomioPlugin.h" />
        <source-file src="src/ios/FlomioPlugin.m" />
    </platform>
</plugin>
